.cusTag {
    border-style: dashed;
    border-color: #d9d9d9;
    background: #ffffff;
}

.cusTag2 {
    border-color: transparent;
    background: #ffffff;
    user-select: none;
    cursor: pointer;
    transition: linear all 0.2s;
    &.select {
        background: #1890ff;
        color: #ffffff;
    }
}
