.aLink {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
    vertical-align: middle;
}
.move {
    background-color: #52c41a;
    top: 50%;
    transform: translate(calc(100% + 5px), -50%);
}
